<!-- admin.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>ADMIN</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <header>
    <nav class="navbar" id="navbar">
        <div class="burger-menu" id="burger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#visitors">Visitors</a></li>
            <li>
                <form action="/logout?_method=DELETE" method="POST">
                    <button id="logout-btn" type="submit">Log Out</button>
                </form>
            </li>
        </ul>
        <div class="close-btn" id="close-btn">X</div>
    </nav>
  </header>

  <div id="admin" class="admin">
    <!-- PROJECTS -->
    <section id="projects">
        <div class="admin-section-title">Projects</div>
        <div class="admin-section-buttons">
            <button id="add-button">Add</button>
            <button id="edit-button">Edit</button>
            <button id="delete-button">Delete</button>
        </div>
        <div class="admin-section-content">
            <div id="add-form" class="manage-project" style="display: none;">
                <form action="/admin" method="POST">
                    <div class="form-control">
                        <label for="project-title">Title:</label>
                        <input type="text" id="project-title" name="title" placeholder="Title" required>
                    </div>
                    <div class="form-control">
                        <label for="project-image">Image URL:</label>
                        <input type="url" id="project-image" name="image" placeholder="Image URL" required>
                    </div>
                    <div class="form-control">
                        <label for="project-description">Description:</label>
                        <textarea id="project-description" name="description" rows="4" placeholder="Project description" required></textarea>
                    </div>
                    <div class="form-control">
                        <label for="project-technologies">Technologies:</label>
                        <input type="text" id="project-technologies" name="technologies" placeholder="Technologies" required>
                    </div>
                    <div class="form-control">
                        <label for="project-github">Github URL:</label>
                        <input type="text" id="project-github" name="github" placeholder="Github URL" required>
                    </div>
                    <div class="form-control">
                        <label for="project-demo">Live Demo:</label>
                        <input type="text" id="project-demo" name="demo" placeholder="Demo URL" required>
                    </div>
                    <button type="submit">Add Project</button>
                </form>
            </div>
            <div id="edit-form" class="manage-project" style="display: none;">
                <form action="/edit" method="POST">
                    <div class="form-control dropdown">
                        <label for="project-select">Select a project:</label>
                        <select id="project-select" name="projectId">
                            <% projects.forEach(project => { %>
                                <option value="<%= project._id %>" 
                                        data-title="<%= project.title %>" 
                                        data-image="<%= project.image %>"
                                        data-description="<%= project.description %>" 
                                        data-technologies="<%= project.technologies %>"
                                        data-github="<%= project.github %>"
                                        data-demo="<%= project.demo %>"
                                        >
                                    <%= project.title %>
                                </option>
                            <% }) %>
                        </select>
                        <img id="edit-project-image" src="<%= selectedProject ? selectedProject.image : 'https://st2.depositphotos.com/2234823/8227/i/600/depositphotos_82277240-stock-photo-image.jpg' %>" alt="Project Image">
                    </div>
                    <div class="form-control">
                        <label for="edit-title">Edit Title:</label>
                        <input type="text" id="edit-title" name="title" value="<%= selectedProject ? selectedProject.title : '' %>" required>
                    </div>
                    <div class="form-control">
                        <label for="edit-image">Edit Image:</label>
                        <input type="url" id="edit-image" name="image" value="<%= selectedProject ? selectedProject.image : '' %>">
                    </div>
                    <div class="form-control">
                        <label for="edit-description">Edit Description:</label>
                        <textarea id="edit-description" name="description" rows="4" required><%= selectedProject ? selectedProject.description : '' %></textarea>
                    </div>
                    <div class="form-control">
                        <label for="edit-technologies">Edit Technologies:</label>
                        <input type="text" id="edit-technologies" name="technologies" value="<%= selectedProject ? selectedProject.technologies : '' %>" required>
                    </div>
                    <div class="form-control">
                        <label for="edit-github">Edit Github:</label>
                        <input type="text" id="edit-github" name="github" value="<%= selectedProject ? selectedProject.github : '' %>" required>
                    </div>
                    <div class="form-control">
                        <label for="edit-demo">Edit Demo:</label>
                        <input type="text" id="edit-demo" name="demo" value="<%= selectedProject ? selectedProject.demo : '' %>" required>
                    </div>
                    <button type="submit">Edit</button>
                </form>
            </div>
            <div id="delete-form" class="manage-project" style="display: none;">
                <form action="/delete-projects" method="POST">
                    <div class="form-control">
                        <label for="delete-project-select">Select a project to delete:</label>
                        <select id="delete-project-select" name="projectId">
                            <% projects.forEach(project => { %>
                                <option value="<%= project._id %>"><%= project.title %></option>
                            <% }) %>
                        </select>
                    </div>    
                    <button type="submit" onclick="return confirmDelete();" class="visitors-delete-button">Delete</button>
                </form>
            </div> 
        </div>
    </section>
    
    <!-- VISITORS -->
    <section id="visitors">
        <div class="admin-section-title"><%= uniqueVisitors.length %> Unique Visitors</div>
        <div class="admin-section-content">
            <form action="/delete-visitors" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Sel</th>
                            <th>Visitor</th>
                            <th>IP Address</th>
                            <th>OS / browser</th>
                            <th>Last Visit</th>
                        </tr>
                    </thead>
                    <% uniqueVisitors.forEach((visitor, index) => { %>
                        <tr class="<%= index % 2 === 0 ? 'light-row' : 'dark-row' %>">
                            <td>
                                <% const checkboxId = 'checkbox-' + visitor.v_id; %>
                                <input type="checkbox" name="selectedVisitors" value="<%= visitor.v_id %>" id="<%= checkboxId %>">
                                <label for="<%= checkboxId %>"></label>
                            </td>
                            <td><%= visitor.v_id %></td>
                            <td><%= visitor.ip %></td>
                            <td><%= visitor.userAgent %></td>
                            <td><%= formatDateTime(visitor.timestamp) %></td>
                        </tr>
                    <% }); %>
                </table>
                <button type="submit" onclick="{console.log('clicked')}" class="visitors-delete-button">Delete Selected</button>
            </form>
        </div>
    </section>

  </div>


    <!-- SCRIPTS -->
    <script>
        const projectSelect = document.getElementById("project-select");
        const editTitleInput = document.getElementById("edit-title");
        const editDescriptionInput = document.getElementById("edit-description");
        const editImageInput = document.getElementById("edit-image");
        const editProjectImage = document.getElementById("edit-project-image");
        const editTechnologiesInput = document.getElementById("edit-technologies");
        const editGithubInput = document.getElementById("edit-github");
        const editDemoInput = document.getElementById("edit-demo");

        projectSelect.addEventListener("change", () => {
            const selectedOption = projectSelect.options[projectSelect.selectedIndex];
            const selectedProjectTitle = selectedOption.getAttribute("data-title");
            const selectedProjectDescription = selectedOption.getAttribute("data-description");
            const selectedProjectImage = selectedOption.getAttribute("data-image");
            const selectedProjectTechnologies = selectedOption.getAttribute("data-technologies");
            const selectedProjectGithub = selectedOption.getAttribute("data-github");
            const selectedProjectDemo = selectedOption.getAttribute("data-demo");
    
            editTitleInput.value = selectedProjectTitle;
            editDescriptionInput.value = selectedProjectDescription;
            editImageInput.value = selectedProjectImage;
            editProjectImage.src = selectedProjectImage;
            editTechnologiesInput.value = selectedProjectTechnologies;
            editGithubInput.value = selectedProjectGithub;
            editDemoInput.value = selectedProjectDemo;
        });
    </script>
    <script>
        const addButton = document.getElementById("add-button");
        const editButton = document.getElementById("edit-button");
        const deleteButton = document.getElementById("delete-button");
        
        const addForm = document.getElementById("add-form");
        const editForm = document.getElementById("edit-form");
        const deleteForm = document.getElementById("delete-form");
        
        addButton.addEventListener("click", () => {
            addForm.style.display = "block";
            editForm.style.display = "none";
            deleteForm.style.display = "none";
        });
        
        editButton.addEventListener("click", () => {
            addForm.style.display = "none";
            editForm.style.display = "block";
            deleteForm.style.display = "none";
        });
        
        deleteButton.addEventListener("click", () => {
            addForm.style.display = "none";
            editForm.style.display = "none";
            deleteForm.style.display = "block";
        });
    </script>
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this project?");
        }
    </script>
    <script src="/js/navbar.js"></script>
    
    
</body>
</html>




