<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/parallax.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <script src="https://kit.fontawesome.com/876d4c73cd.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <%- include('navbar') %>
  </header>

  <section id="home">
    <div class="parallax-content" data-speed="0.0">
      <div class="container home">
        <div class="external-circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                <defs>
                    <path id="circlePath" d="M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "/>
                </defs>
                <g>
                    <use xlink:href="#circlePath" fill="none"/>
                    <text fill="#000">
                        <textPath xlink:href="#circlePath">Welcome to My Digital Playground!</textPath>
                    </text>
                </g>
            </svg>
            <div class="circle">
                <img id="circleImage" src="images/front.jpg" alt="Image">
            </div> 
        </div>
        <div>
            <a href="#about"><div class="arrow bounce"></div></a>
        </div>
      </div>  
    </div>
  </section>

  <section id="about">
    <div class="parallax-content" data-speed="0.0">
    <div class="container">
      <h2>About Me</h2>
    </div>
    </div>
  </section>

  <section id="skills">
    <div class="parallax-content" data-speed="0.0">
        <div class="container">
            <div id="textwrap">
                <div id="textblock"></div>
            </div>
            <div id="skills-messages-container"> </div>
        </div>
    </div>
  </section>

  <section id="projects">
        <div class="parallax-content" data-speed="0.0">
            <div class="container">
                <div class="carousel">
                    <% projects.forEach(project => { %>
                        <div class="carousel-project">
                                <div class="project-image">
                                    <img src="<%= project.image %>" alt="Project Image">
                                </div>
                                <a href="/projects/<%= project._id %>" class="project-title shadow"><%= project.title %></a>
                                <div class="project-description"><%= project.description %></div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
  </section>

  
  <footer>
    <%- include('footer') %>
  </footer>


  <!-- scripts -->
  <script>
    window.addEventListener('scroll', () => {
      const scrollPos = window.scrollY;
      const parallaxElements = document.querySelectorAll('.parallax-content');
  
      parallaxElements.forEach((element) => {
        const speed = parseFloat(element.dataset.speed); // Parse data-speed as a number
        const yPos = -scrollPos * speed;
        element.style.transform = `translateY(${yPos}px)`;
        //console.log(scrollPos, speed, yPos); // Log values inside the forEach loop
      });
    });
  </script>
  <script src="/js/smooth-scroll.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/skills.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script src="/js/carousel.js"></script>


  <script>
    const circleImage = document.getElementById('circleImage');
    const circleDiv = document.querySelector('.circle');
    const leftImage = 'images/left.jpg';
    const rightImage = 'images/right.jpg';
    const frontImage = 'images/front.jpg';
    const downImage = 'images/down.jpg';

    document.addEventListener('mousemove', (event) => {
        const mouseX = event.clientX;
        const mouseY = event.clientY;
        const circleRect = circleDiv.getBoundingClientRect();

        if (mouseX < circleRect.left) {
            circleImage.src = leftImage;
        } else if (mouseX > circleRect.right) {
            circleImage.src = rightImage;
        } else if (mouseY > circleRect.bottom) {
            circleImage.src = downImage;
        } else {
            circleImage.src = frontImage;
        }
    });
  </script>





</body>
</html>



<!-- https://www.vantajs.com/ -->
<!--

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
  <script>
    VANTA.WAVES({
    el: "#wave",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x394455
    })
  </script>

-->
