<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Viorel Moldovan</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/parallax.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/876d4c73cd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <%- include('navbar', { isAuthenticated: isAuthenticated }) %>
    </header>

  <section id="home">
    <div class="parallax-content" data-speed="0.0">
      <div class="container home">
        <div class="external-circle">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                <defs>
                    <path id="circlePath" d="M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "/>
                </defs>
                <g>
                    <use xlink:href="#circlePath" fill="none"/>
                    <text fill="#000">
                        <textPath xlink:href="#circlePath">Welcome to My Digital Playground!</textPath>
                    </text>
                </g>
            </svg>
            <div class="circle">
                <img id="circleImage" src="images/front.jpg" alt="Image">
            </div> 
        </div>
        <div>
            <a href="#about"><div class="arrow bounce"></div></a>
        </div>
      </div>  
    </div>
  </section>

  <section id="about">
    <div class="parallax-content" data-speed="0.0">
    <div class="container">
        <div class="about">  
            In the digital realm, I weave code and creativity to sculpt captivating online experiences. 
            With a love for innovation and an eye for detail, I thrive on the dynamic dance between design and functionality.
            Explore my portfolio to discover the digital stories I've crafted.
        </div>
    </div>
    </div>
  </section>

  <section id="skills">
    <div class="parallax-content" data-speed="0.0">
        <div class="container">
            <div id="textwrap">
                <div id="textblock"></div>
            </div>
            <div id="skills-messages-container"> </div>
        </div>
    </div>
  </section>

  <section id="projects">
        <div class="parallax-content" data-speed="0.0">
            <div class="container">
                <div class="carousel">
                    <% projects.forEach(project => { %>
                        <div class="carousel-project">
                                <div class="project-image">
                                    <img src="<%= project.image %>" alt="Project Image">
                                </div>
                                <a href="<%= project.demo %>" class="project-title shadow" target=”_blank” ><%= project.title %></a>
                                <div class="project-description"><%= project.description %></div>
                                <div class="stack">
                                    <a href="<%= project.github %>" target=”_blank”>
                                        <i class="fa-brands fa-github fa-beat-fade" style="--fa-beat-fade-opacity: 0.80; --fa-beat-fade-scale: 1.075;"></i>
                                    </a>
                                    <div><%= project.technologies %></div>
                                </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
  </section>

  
  <footer>
    <%- include('footer') %>
  </footer>


  <!-- scripts -->
  <script>
    window.addEventListener('scroll', () => {
      const scrollPos = window.scrollY;
      const parallaxElements = document.querySelectorAll('.parallax-content');
  
      parallaxElements.forEach((element) => {
        const speed = parseFloat(element.dataset.speed); // Parse data-speed as a number
        const yPos = -scrollPos * speed;
        element.style.transform = `translateY(${yPos}px)`;
      });
    });
  </script>
  <script src="/js/smooth-scroll.js"></script>
  <script src="/js/navbar.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script src="/js/circle.js"></script>
  <script src="/js/skills.js"></script>
  <script src="/js/carousel.js"></script>

</body>
</html>



